<!DOCTYPE html>
<html>
    {% include 'header.html' %}
<body>
    <p>We have a beautiful selection of paintings, sculptures, music, home decors, and also hand-crafted
items to suit your needs. You can simply shop online, have access to other countries art
works from your home, and expand your precious art collection.</p>
    <p>Moreover we introduce you amazing histories and location helping you choose your destination
for traveling according to different attractions every location has around the world, or you can
simply get familiar with diverse food around the world online and cooking them for yourself and
love ones and have a different holiday in your home.</p>
    <p>We will be delightful to present your original art works and experiences in our website.</p>
    <h3>Objectives</h3>
    <ul>
        <li>To promote access to the collections, creative art works from all over the world.</li>
        <li>Helping artist present themselves on global platform.</li>
        <li>To help collectors share their collections without limitation.</li>
        <li>To collaborate with art galleries, travelling agencies, music bands, fashion designers, etc.</li>
        <li>To break the boundaries and spreading native knowledge and histories.</li>
        <li>To developing economic and cultural life of the countries.</li>
        <li>To introduce cultural, artistic experience of people from different countries and share them with
you.</li>
    </ul>
</body>
</html>