<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <img src="{{ url_for('static', filename='img/tree_in_field.jpg') }} ">
<body>
    <h1>Commutative Culture</h1>
    <ul style="list-style-type:disc">
        <li><a href="{{ url_for('about') }}"><font size="+2">About Us</font></a></li>
        <li><a href="{{ url_for('artwork') }}"><font size="+2">Art Work</font></a></li>
        <li><a href="{{ url_for('news') }}"><font size="+2">News</font></a></li>
        <li><a href="{{ url_for('publications') }}"><font size="+2">Publications</font></a></li>
        <li><a href="{{ url_for('services') }}"><font size="+2">Services</font></a></li>
        <li><a href="{{ url_for('forum') }}"><font size="+2">Forum</font></a></li>
        <li><a href="{{ url_for('contact') }}"><font size="+2">Contact</font></a></li>
    </ul>
</body>
</html>